.App {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    height: 100%;
    background-image: url("../src/assets/tm-bg-1.jpeg");
}
